* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

canvas {
    display: block;
}

h1 {
    position: absolute;
    top: 12rem;
    left: 12rem;
    font-family: 'Montserrat';
    font-size: 4em;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    border: 5px solid black;
    padding: .2em;
}