html{
    -webkit-text-size-adjust: 100%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #00a19a;
    color: #ebeded;
}

a {
    color: inherit;
    text-decoration: none;
}

svg {
    vertical-align: middle;
}

h1{
    font-weight: 400;
    font-size: 13px;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: normal;
}

.o-con-loading {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .6s cubic-bezier(1,.50,.165,1);
    z-index: 100;
    pointer-events: none;
    background-color: #00a19a;
    opacity: 1;
}

.o-loading-line {
    display: block;
    width: 6rem;
    height: 2px;
    overflow: hidden;
    transition: translate .3s cubic-bezier(.075,.82,.165,1);
    transform-origin: center right;
    transform: scalex(1) perspective(1000px);
    animation: loading 1.2s cubic-bezier(.075,.82,.165,1) infinite;
    background-color: rgba(255, 255, 255, 0.548);
}
@keyframes loading {
    0%{
        opacity: 1;
        transform: scaleX(0);
        transform-origin: center left;
    }
    40%{
        opacity: 1;
        transform: scaleX(1);
        transform-origin: center left;
    }
    45%{
        opacity: 1;
        transform: scaleX(1);
        transform-origin: center right;
    }
    65%{
        opacity: 1;
        transform: scaleX(0);
        transform-origin: center right;
    }
    100%{
        opacity: 0;
        transform: scaleX(0);
    }
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;   
    text-transform: uppercase; 
    animation: loadMenu 1s cubic-bezier(.075,.82,.165,1);
    animation-delay: 2.49s;
    transform: translate(0,-100%);
}
@keyframes loadMenu {
    from {
        transform: translate(0,-100%);
    }
    to {
        transform: translate(0,0);
    }
}
.container {
    display: flex;
    height: 5rem;
    line-height: 5rem;
    margin: 0vw 2.2vw;
    
}

.o-white-bar {
    width: 96%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 20vh;
    transition: bottom 1s cubic-bezier(.075,.82,.165,1);
    left: 2vw;
}
.h-logo {
    text-align: left;
}
.o-1quarter {
    width: 25vw; 
    display: flex;
    justify-content: left; 
}

.h-lan {
    display: flex;
    align-items: center;
}

.h-lan ul {
    list-style: none;
    display: flex;
}

.h-lan ul li {
    line-height: 1;
}
.h-lan ul li h1 {
    border-right: 1px solid #ebeded;
    padding-right: 0.54rem;
}

.o-3quarter {
    width: 75vw;
    display: flex;
    justify-content: space-between;
}

.menu {
    text-align: right;
    display: flex;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
}
.menu ul li {
    line-height: 1;
}

.menu ul li h1 {
    border-right: 1px solid #ebeded;
    padding:0 0.54rem;
}
.l-last-item {
    border-right: none !important;
    padding-left: .54rem;
}
.n-last-item {
    border-right: none !important;
}

.con-slogan {
    display: flex;
    justify-content: center;
}

.o-container {
    display: flex;
    width: 100%;
    height: 100vh;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.c-home-header-title {
    position: fixed;
    transform: translate3d(0,0,0);   
    z-index: 4;
}
.c-home-header-title h2 {
    text-transform: uppercase;
    font-size: 5.7142857143vw;
    font-weight: lighter;
    text-align: center;
}
.c-home-header-title-line {
    position: relative;
    opacity: 0;
    transition: opacity .6s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: line-show 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 2.49s;
    transform-origin: center;
}

@keyframes line-show {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
.c-home-header-video {
    position: absolute;
    bottom: 5.6vw;
    left: 50.0571428571vw;
    z-index: 2;
}

.c-home-header-play-video {
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 25.1428571429vw;
    height: 14.1142857143vw;
}

.h-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform-origin: top;
    animation: perspectiva 2s cubic-bezier(.075,.82,.165,1);
    animation-delay: 3.19s;
    opacity: 0;
    
}
@keyframes perspectiva {
    from {
        transform: perspective(1000px) rotateX(-90deg);
    }
    to {
        transform: perspective(1000px) rotateX(0);
    }
}
